/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6d8ebf;
    padding: 10px 20px;
    color: #ffffff;
}

/* Estilo das informações do usuário */
.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
}

.user-img {
    border-radius: 20px;
    width: 40px;
    height: auto;
}

/* Estilo do ícone de menu */
.menu-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
}

/* Estilo do menu dropdown */
.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 25px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1;
}

.dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown ul li {
    padding: 10px;
    text-align: left;
}

.dropdown ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown ul li:hover {
    background-color: #f0f0f0;
}

.dropdown.show {
    display: block;
}

/* Estilo da seção de botões */
.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons button {
    background-color: #a8c3e8;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
}

.buttons button:hover {
    background-color: #90b0d6;
}

/* Estilo do gráfico */
.table {
    border-radius: 15px;
    background-color: #eef2f8;
    border: 2px solid #a8c3e8;
    padding: 10px;
    text-align: left;
}

.chart {
    border-radius: 15px;
    background-color: #a8c3e8;
    border: 2px solid #6d8ebf;
    padding: 10px;
    text-align: center;
}

.chart-content {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: #d6e4f7;
}

.chart-img {
    border-radius: 15px;
    width: auto;
    height: auto;
}

.link-text {
    color:rgb(0, 109, 149);
    font-weight: bold;
}

.device-container {
    border-radius: 15px;
    background-color: #dde6f2;
    border: 2px solid #577aae;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    overflow:scroll;
    height:400px;
}

.device-card {
    border-radius: 15px;
    background-color: #b1bfd8;
    /* border: 2px solid #577aae; */
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.device-card button {
    background-color: #70a4ec;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
}

.device-description {
    justify-content: stretch;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.device-text {
    color:rgb(0, 0, 0);
    font-weight: bold;
}

