<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Tomadas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <div class="user-info">
            <div class="user-icon">
                <img src="{{ url_for('static', filename=profile_img) }}" alt="Foto do perfil" class="user-img">
            </div>
            <span>Bem Vindo, {{ user }}</span>
        </div>
        <div class="menu-icon" onclick="toggleDropdown()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="dropdown" id="dropdownMenu">
                <ul>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="/logout/{{ token }}">Sair</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="buttons">
            <a href="/{{ token }}" class="link-text">< Home</a>
            <button>Nova Tomada</button>
        </div>
        <div class="device-container">
            {{ devices }}
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
